.back-button {
  position: absolute;
  top: 100px; /* Aumentado para evitar sobreposição com o header */
  left: 20px;
  color: #F0F0C0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  z-index: 100;
  cursor: pointer;
  transition: color 0.2s;
}

.back-button:hover {
  color: #9DFF70;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .back-button {
    top: 80px; /* Aumentado para evitar sobreposição com o header em telas menores */
    left: 16px;
    font-size: 1.8rem; /* Tamanho ligeiramente menor em telas pequenas */
  }
}