.newsletter-section {
    background-color: #1E392A;
    color: #F0F0F0;
    text-align: center;
    padding: 60px 40px;
    border-top: 1px solid rgba(240, 240, 240, 0.4);
    border-bottom: 2px solid #3A4C3A;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
  .newsletter-section h4 {
    font-size: 1.2rem;
    margin: 0;
  }
  .newsletter-section p {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  .newsletter-section,
.newsletter-section h4,
.newsletter-section p {
  color: #F0F0F0;
}
  .input-wrapper input {
    background: transparent;
    border: 2px solid #F0F0F0;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    max-width: 400px;
  }

/* Responsividade para desktop */
@media (min-width: 1024px) {
  .newsletter-section {
    padding: 100px 80px;
  }
  
  .newsletter-section h4 {
    font-size: 1.5rem;
  }
  
  .newsletter-section p {
    font-size: 1.1rem;
    margin-bottom: 50px;
  }
  
  .input-wrapper input {
    height: 60px;
    max-width: 500px;
    font-size: 1.1rem;
  }
}

/* Responsividade para mobile */
@media (max-width: 768px) {
  .newsletter-section {
    padding: 40px 20px;
  }
  
  .newsletter-section h4 {
    font-size: 1rem;
  }
  
  .newsletter-section p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  
  .input-wrapper input {
    height: 45px;
    max-width: 300px;
  }
}